<div class="p-4">
    <!-- Inicia un contenedor con clases de espaciado (padding) -->
    
        <div class="container">
        <!-- Inicia un contenedor con clases de estilos para el contenido -->
    
            <router-outlet></router-outlet>
            <!-- Utiliza la etiqueta 'router-outlet' de Angular, que actúa como un marcador de posición para cargar componentes dinámicamente -->
    
        </div>
        <!-- Cierra el contenedor del contenido -->
    
    </div>
    <!-- Cierra el contenedor principal con clases de espaciado (padding) -->
    