<div class="p-4">
    <!-- Inicia un contenedor con clases de espaciado (padding) -->
    
        <div class="container">
        <!-- Inicia un contenedor con clases de estilos para el contenido -->
    
            <h1>Administrado</h1>
            <!-- Crea un encabezado de nivel 1 con el texto "Admin" -->
    
            <p>A esta sección sólo pueden acceder los administradores.</p>
            <!-- Crea un párrafo con información sobre la sección que solo puede ser accedida por administradores -->
    
            <p><a routerLink="accounts" class="btn btn-primary">Gestionar Cuenta</a></p>
            <!-- Crea un párrafo con un enlace de navegación que redirige a la ruta "accounts" -->
            <!-- El texto "Manage Accounts" se muestra como el contenido del enlace -->
    
        </div>
        <!-- Cierra el contenedor del contenido -->
    
    </div>
    <!-- Cierra el contenedor principal con clases de espaciado (padding) -->
    