<nav class="admin-nav navbar navbar-expand navbar-light px-3">
    <!-- Inicia la etiqueta 'nav' con clases de estilos para la barra de navegación de administrador -->
    
        <div class="navbar-nav">
        <!-- Inicia un contenedor con la clase 'navbar-nav' para los elementos de navegación -->
    
            <a routerLink="accounts" routerLinkActive="active" class="nav-item nav-link">Cuentas</a>
            <!-- Crea un enlace de navegación con atributos 'routerLink' y 'routerLinkActive' para la ruta 'accounts' -->
            <!-- El texto "Accounts" se muestra como el contenido del enlace -->
    
        </div>
        <!-- Cierra el contenedor 'navbar-nav' -->
    
    </nav>
    <!-- Cierra la etiqueta 'nav' de la barra de navegación de administrador -->
    