<h3 class="card-header">Olvidó su Contraseña</h3>  <!-- Título de la página de recuperación de contraseña -->

<div class="card-body">  <!-- Cuerpo del formulario de recuperación de contraseña -->

    <form [formGroup]="form" (ngSubmit)="onSubmit()">  <!-- Formulario con un FormGroup y función onSubmit asociada -->

        <div class="mb-3">
            <label class="form-label">Gmail</label>  <!-- Etiqueta para el campo de correo electrónico -->
            <input type="text" formControlName="email" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />  <!-- Campo de entrada de texto para el correo electrónico -->
            <div *ngIf="submitted && f.email.errors" class="invalid-feedback">  <!-- Mensaje de error si el campo de correo electrónico tiene errores -->
                <div *ngIf="f.email.errors.required">El Gmail es requerido</div>  <!-- Error si el campo está vacío -->
                <div *ngIf="f.email.errors.email">El Gmail no es válido</div>  <!-- Error si el formato del correo electrónico es inválido -->
            </div>
        </div>

        <div class="mb-3">
            <button [disabled]="loading" class="btn btn-primary">  <!-- Botón para enviar el formulario (puede estar deshabilitado durante la carga) -->
                <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>  <!-- Icono de carga si se está enviando el formulario -->
                Enviar
            </button>
            <a routerLink="../login" class="btn btn-link">Cancelar</a>  <!-- Enlace para cancelar y redirigir a la página de inicio de sesión -->
        </div>
    </form>
</div>
