<div class="container"> <!-- Contenedor principal de la página -->
    <div class="row"> <!-- Fila que contiene elementos de la página -->
        <div class="col-lg-8 offset-lg-2 mt-5"> <!-- Columna de 8 columnas de ancho en pantallas grandes (lg), centrada en el medio (offset-lg-2), con un margen superior de 5 unidades (mt-5) -->
            <div class="card m-3"> <!-- Tarjeta con margen alrededor (m-3) -->
                <router-outlet></router-outlet> <!-- Este es un marcador de posición para cargar componentes dinámicamente utilizando enrutamiento -->
            </div>
        </div>
    </div>
</div>
